.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

body {
    padding: 15px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
}

.navbar {
    border-color: #a00;
    border-width: 3px;
    background-color: #000;
    border-radius: 25px;
    width: 100%;
    display: inline-block;
}

.nav.navbar-nav li a {
    color: #a00;
}

.navbar-header {
    color: #a00;
    text-align: left;
}

.navbar-header a:visited {
    color: #a00;
}

.majorcredit {
    color: #000;
    margin: 1%;
    padding-bottom: 3%;
    border-style: solid;
    border-color: #f00;
    width: 50%;
    display: inline-block;
    border-radius: 25px;
    text-align: center;
}

.development {
    padding-top: 100px;
    color: #000;
    text-align: center;
}

.header img {
    width: 50px;
    height: 50px;
    border: 3px solid;
    border-radius: 25px;
    float: left;
    margin-right: 25px;
}

/* Custom page header */
.header {
    margin-bottom: 10px;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}


/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #f00;
}

.mainStyle {
    text-align: center;
    padding: 5px;
}

.itemStyle {
    text-align: center;
    border-radius: 20px;
    background-color: #363636;
    border: outset 10px;
    border-color: #990000;
    padding: 5px;
    color: #CCC;
    width: 75%;
    display: inherit;
    margin: auto;
}

.itemStyle img {
    width: 50px;
}

.itemGrid {
    float: left;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
        text-align: center;
    }

    /* Space out the masthead */
    .header {
        margin-bottom: 5px;
    }

    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

.sample-show-hide {
    padding: 10px;
    background: white;
}

.sample-show-hide {
    -webkit-transition: all linear 0.1s;
    transition: all linear 0.1s;
}

.sample-show-hide.ng-hide {
    opacity: 0;
}
